*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{

    padding-left: 40%;
    padding-top: 20%;
    min-height: 100vh;
    background: aqua;
}
h1{
    padding-left: 40px;
}
#value{
    font-size: 6rem;
    padding-bottom: 50px;
    padding-left: 60px;
}
.btn{
    padding: 5px 8px;
}
button{
    padding-left: 20px;
    padding-right: 30px;
}